---
import { Markdown } from "astro-remote";
import CodeSpan from "./CodeSpan.astro";
import Heading from "./Heading.astro";
import Note from "./Note.astro";
import { Code } from "@astrojs/starlight/components";
// import { codeToHtml } from 'shikiji';
// import {
//   rendererRich,
//   transformerTwoSlash
// } from 'shikiji-twoslash';

export const theme = "material-theme-ocean";

export let html = ``;
const {
  lang,
  code: rawCode,
  showLines = false,
  twoslash = false,
} = Astro.props;

// Use Twoslash only when explicitly requested
// if (twoslash && ['ts', 'tsx'].includes(lang)) {
//   html = await codeToHtml(rawCode, {
//     lang,
//     theme,
//     transformers: [
//       transformerTwoSlash(
//         {
//           renderer: rendererRich(),
//         }
//       )
//     ],
//   })
// } else {
//   html = await codeToHtml(applyCut(mapPaths(rawCode)),
//     {
//       lang,
//       theme,
//     }
//   );
// }

function applyCut(s: string) {
  return s.split(/\/\/ \-\-\-cut\-\-\-\s*/).pop() ?? "";
}
function mapPaths(s: string) {
  // return s.replace(/import \* as (\w+) from "(\w+)"/g, 'import $1 from "$2"')
  return s.replace(/\.\.\/src/g, "matchina");
}
---

{
  !!showLines && (
    <div>
      {rawCode.split("\n").length} lines,
      {rawCode.length} chars
    </div>
  )
}
{
  lang === "md" ? (
    <Markdown
      content={rawCode}
      components={{ Heading, CodeBlock, CodeSpan, Note }}
    />
  ) : (
    // : <div set:html={html} />
    <Code
      code={applyCut(mapPaths(rawCode))}
      lang={lang}
      twoslash={twoslash}
      showLines={showLines}
    />
  )
}
