---
import fs from 'fs';
import path from 'path';
import CodeBlock from "./CodeBlock.astro";
import '../styles/shiki-twoslash.css';

const snippetsDir = path.join(process.cwd(), 'src/content/snippets');
const fileNames = fs.readdirSync(snippetsDir);
const collection = fileNames.map(fileName => ({ 
  params: { slug: fileName },
  lang: fileName.split('.').pop(),
  get content () {
    return fs.readFileSync([snippetsDir, fileName].join('/'), 'utf-8')
  }
}));

---
<h1>Snippets ({collection.length})</h1>
<ul>
  {collection.map(snippet => (
    <article>
      <h3>{snippet.params.slug} ({snippet.lang})</h3>
      
      <CodeBlock
        lang={snippet.lang}
        code={snippet.content}        
      />
    </article>
  ))}
</ul>
